{% extends 'knp_menu.html.twig' %}


{% block spanElement %}{% import 'knp_menu.html.twig' as knp_menu %}
    <label class="c-list-item__label" {{ knp_menu.attributes(item.labelAttributes) }} for="tree-{{ item.name }}">{{ block('label') }}</label>
{% endblock %}
