$eZDarkBackground: #555555;
$eZMediumBackground: #E5E3E3;
$eZLightBackground: #F5F5F5;

.ibexamailing-ez-mailings-view {
  .edit-button svg {
    width: 20px;
    height: 20px;
  }

  .edit-button.disabled svg {
    fill: #ccc;
  }
}
.edit-button {
  text-decoration: none ;
}
.c-list-item__row {
  cursor: pointer;
}

.pagination {
  justify-content: center !important;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;

  .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  .autocomplete-selected {
    background: #F0F0F0;
  }

  .autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
  }

  .autocomplete-group {
    padding: 2px 5px;
  }

  .autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
  }
}
.nav-arbo {
  display: none;
}
.label-subject {
  margin-bottom: 30px;
}
.leaf a {
  align-items: center;
  color: #131c26;
  display: flex;
  flex: 1;
  font-size: .875rem;
  line-height: 1.3125rem;
  min-height: 1.3125rem;
  overflow: hidden;
  padding: 0.3125rem 0.875rem 0.3125rem 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.tab-pane {
  .ibexamailing-broadcast-charts-group .graph-broadcast {
    width: 600px;
    height: 300px;
    float: left;
    margin: 20px 10px 10px 10px;
  }
}

.campaigns > ul > li > label:hover {
  font-weight: bold;
}

.text-bg-dark-blue {
  color: white !important;
  background-color: #00008B !important;
}

.start-75 {
  left: 75% !important;
}

.top-20 {
  top: 20% !important;
}